body {
  font-family: Poppins, sans-serif;
  color: #22343d;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}
.container {
  width: 1150px;
  padding: 0 20px;
  outline: 1px solid red;
  margin-right: auto;
  margin-left: auto;
}
/* common styles */

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 32px;
  line-height: calc(48 / 32);
  margin-bottom: 25px;
}

.section-title-small {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: block;
  margin-bottom: 8px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  border-radius: 4px;
}

.btn-primary {
  color: #173a56;
  border: 1px solid #bcd0e5;
  background-color: transparent;
}

.btn-accent {
  color: #ffffff;
  background-color: #02897a;
  border: 1px solid transparent;
}
/* header */
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  margin-right: 237px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.logo-img {
  margin-right: 16px;
}
.header-nav {
  margin-right: auto;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-nav-menu .header-item:not(:last-child) {
  margin-right: 30px;
}
.header-button {
  padding: 9px 24px;
}
.header-list-btn .header-item:not(:last-child) {
  margin-right: 24px;
}
.header-link {
  display: block;
  line-height: 1.75;
  padding: 26px 0;
}
.header-link.current {
  font-weight: 600;
}
.switch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  border-radius: 50%;
  border: none;
}
/* -----hero----- */
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-wrapper {
  width: 465px;
}
.hero-title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}
.hero-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  margin-bottom: 45px;
}
.hero-group {
  display: flex;
  align-items: center;
}
.hero-btn {
  margin-right: 30px;
  padding: 15px 42px;
  border-radius: 4px;
}
.hero-link {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-decoration-line: underline;
  color: #02897a;
}
.hero-icon {
  margin-right: 9px;
}
/* ---feautures ----- */

.feautures-title {
  width: 539px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.feautures-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.feautures-item {
  width: 255px;
}

.feautures-img {
  margin-bottom: 26px;
}

.feautures-subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: calc(33 / 22);
  color: #22343d;
  margin-bottom: 13px;
}
.features-text {
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}

.feautures-btn {
  display: block;
  margin: 0 auto;
  padding: 15px 32px;
}

/*managment*/

.left-side {
  line-height: 1.62;
}

.right-side {
}

.managment-container {
  display: flex;
  align-items: center;
  gap: 84px;
}

.managment-description {
  margin-bottom: 30px;
}

.managment-item {
  margin-bottom: 25px;
}

.managment-item:last-child {
  margin-bottom: 0;
}

.managment-subtitle {
  margin-bottom: 12px;
}
/* support */
.support-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 84px;
}
.support-list {
  margin-top: 30px;
}

.support-item:not(:last-child) {
  margin-bottom: 25px;
}
.support-item {
  padding-left: 65px;
}
/* news-feed */
.news-feed-descr {
  font-weight: 500;
  line-height: calc(26 / 16);
}

.news-feed-meta {
  line-height: calc(28 / 16);
}

.news-feed-author {
  font-weight: 700;
}

.news-feed-subtitle {
  font-size: 24px;
  line-height: calc(40 / 24);
}

.news-feed-subtitle.current {
  color: #02897a;
}
